@charset "UTF-8";

#contactbox {
	margin: 0;
	background: #f0f0f0;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	padding: 48px 39px 40px;
}

#contactbox .contactmessage {
	margin: 0;
	text-align: left;
	color: #000000;
	font-weight: normal;
    font-style: normal;
    font-size:13px;
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 10px;
}

#contactbox table{
	width:100%
}

#contactbox td {
	border-bottom: 1px solid #E3E3E3;
	padding: 15px 0px;
}

#contactbox th {
	font-size: 15px;
	width: 155px;
	padding: 30px 0px;
	border-bottom: 1px solid #E3E3E3;
}

.contacttable{
	margin:0 auto;
}

.contacttable select{
	padding: 3px 5px 2px;
    width: 200px;
}

#contactbox .button{
	position:relative;
	display: flex;;
}

.contactbutton{
border:1px solid #b5b5b5;
	background:#b5b5b5;
	color:#ffffff;
	border-radius:2px;
	padding: 10px 0 7px;
	width: 160px;
	margin:0 auto;
}

#contactbuttonwrapper{
	padding-top:35px;
}