@charset "UTF-8";

#searchresultwrapper {
	height: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	    padding-bottom: 30px;
}

#searchcategolymenu {
	display: inline-block;
	margin: 0;
	height: 100%;
	text-align: center;
	padding-top: 22px;
	vertical-align: top;
	position: relative;
}

#searchcategolytable {
	all: initial;
	margin: 0;
}

#searchcategolytable tr {
	margin: 0;
	display: block;
}

#searchcategolytable th {
	margin: 0;
	display: block;
	padding: 5px 0px;
	border-bottom: solid 1px  #b5b5b5;
}

#searchfoodwrapper{
	margin-top:10px;
	display:inline-block;
	width:80%;
	height:100%;
}

#searchfoodcontent{
	margin-top:5px;
	margin-left:5px;
	display:inline-block;
	font-size:13px;
	border:solid 1px #b5b5b5 ;
}

#searchfoodimage img{
	width:175px;
	height:150px;
}

#searchfoodname{
	font-size:13px;
}